@import './normalize.css';
@import './vars.scss';

@font-face {
    font-family: jetbrains;
    src: url(../fonts/JetBrainsMono[wght].ttf);
    font-weight: 1 1000;
}

@font-face {
    font-family: jetbrains-italic;
    src: url(../fonts/JetBrainsMono-Italic[wght].ttf);
    font-weight: 1 1000;
}

* {
    box-sizing: border-box;

    &:active,
    &:hover,
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 300px;
    background: #181c23;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

html,
body,
#app {
    width: 100%;
    // height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $black;
    color: rgb(235, 235, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $white;
    font-family: 'jetbrains';
    font-size: 12px;
    overflow-y: scroll;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input[type='radio'] {
    appearance: none;
    border: 1px solid $white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    min-width: 10px;
    transition: border-width 200ms cubic-bezier(0.83, 0, 0.17, 1), border-color 1000ms cubic-bezier(0.83, 0, 0.17, 1);

    &:checked {
        border: 4px solid $white;
    }
}

input[type='checkbox'] {
    appearance: none;
    width: 10px;
    border: 1px solid $white;
    height: 10px;
    border-radius: 0px;
    min-width: 10px;

    &:checked {
        background-color: $white;
    }
}

select {
    appearance: none;
}

select,
input {
    background: $black;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 0px 5px;
    width: 140px;
    max-width: 400px;
    height: 20px;

    &:hover {
        background: #090c0f;
    }
}

.module {
    background: $grey;
    border-radius: 5px;
    padding: 10px;
    grid-column: 1/-1;
    row-gap: 10px;
    display: flex;
    flex-direction: column;

    &-span {
        text-align: center;
        display: block;
    }

    span {
        display: block;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        &--three {
            input,
            select {
                width: 90px;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > span {
            margin-bottom: 5px;
        }

        &--deactive {
            opacity: 0.5;
        }

        &--radio {
            flex-direction: row;
            justify-content: space-evenly;

            input[type='radio'] {
                margin-right: 5px;
            }
        }

        &--block {
            border: 1px solid rgb(201, 209, 204);
            border-radius: 5px;
            padding: 5px;
            align-items: unset;
        }
    }
}

.page-transition-enter-active,
.page-transition-leave-active {
    transition: all 0.5s;
}
.page-transition-enter,
.page-transition-leave-to {
    opacity: 0;
}

.opacity-enter-active {
    animation: slideIn 0.5s;
}
.opacity-leave-active {
    animation: slideOut 0.5s;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.result {
    word-wrap: break-word;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.button {
    border: 1px solid $white;
    border-radius: 9px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: $black;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 5px solid $white;
    border-left: 2px solid $white;
    border-right: 2px solid $white;
    transition: all 70ms ease-in;
    filter: none;
    height: 40px;
    width: 100%;

    &:hover {
        background: #090c0f;
        transform: translateY(1px);
        border-bottom: 2px solid $white;
    }
}

.active {
    filter: none;
}

.button.deactive,
.deactive .button {
    cursor: no-drop;

    &:hover {
        background-color: $black;
        transform: none;
        border-bottom: 5px solid $white;
    }
}

.button.active,
.active .button {
    background: #090c0f;
    transform: translateY(1px);
    border-bottom: 2px solid $white;
}
